@import url(styles/reset.css);

:root{
    --fonte: open+sans;
}


.container_titulo{
    display: flex;
    justify-content: center;
    
    
}

.tituloh1{
    font-size: 72px;
    font-family: var(--fonte);
    font-weight: 700;
}

.container_corte{
    display: grid;
    justify-content: center;
}

.organizar_lista{
    grid-template-columns:20%;
    display: grid;
    justify-content: center;
    display: flex;
    
 
    
}

.corte_imagem{
    width: 80%;
    margin-left: 50px;
}

.organizar_titulo{
    text-align: center;
    margin: 100px 0 30px 0;
    
}

.tituloh2{
    font-size: 42px;
    font-family: var(--fonte);
    font-weight: 700;
    margin-bottom: 40px;
}

.corte {margin-bottom: 40px;}

.subtituloh3{
    font-size: 22px;
    font-family: var(--fonte);
    font-weight: 700;
    
}

.lista{
    margin-left: 300px;
}

.texto_lista{
    margin: 15px;
    font-size: 18px;
    font-family: var(--fonte);
    font-weight: 700;
}


.texto_explicativo{
    text-align: center;
    margin-top: 50px;
    
    
}

.texto_nerole{
    text-align: center;
    margin-top: 100px;
}

.alinhar_itens{
    
    grid-template-columns: 80%;
    align-items: center;
    margin-top: 50px;
    display: grid;
    justify-content: center;
    
    
}

.nerole_imagem{
    width: 50%;
    margin-left: 100px;
    
}

.alinhar{
    display: flex;
    align-items: center;
    
}

.organizar_lista2{
    display: grid;
    justify-content: center;

}

.lista2{
    margin-left: 100px;
}

.container_venda{
    display: grid;
    justify-content: center;
}

.subtituloh4{
    font-size: 18px;
    font-family: var(--fonte);
    font-weight: 700;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.titulo_venda{
    text-align: center;
    margin-top: 50px;
}

.tituloh2r{
    font-size: 18px;
    font-family: var(--fonte);
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 50px;
}

.subtituloh4r{
    font-size: 12px;
    font-family: var(--fonte);
    font-weight: 700;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.REFERENCIAS{
    display: flex;
}

.links{
    margin-left: 20px;
}