@import url(styles/reset.css);

:root{
    --fonte: open+sans;
}


.container_titulo{
    display: flex;
    justify-content: center;
    
    
}

.titulo{
    font-size: 72px;
    font-family: var(--fonte);
    font-weight: 700;
}

.container_corte{
    display: grid;
    justify-content: center;
}

.organizar_lista{
    grid-template-columns:20%;
    display: grid;
    justify-content: center;
    display: flex;
    
 
    
}

.corte_imagem{
    width: 80%;
    margin-left: 50px;
}

.organizar_titulo{
    text-align: center;
    margin: 100px 0 30px 0;
    
}

.corte_titulo{
    font-size: 42px;
    font-family: var(--fonte);
    font-weight: 700;
    margin-bottom: 40px;
}

.corte_subtitulo{
    font-size: 22px;
    font-family: var(--fonte);
    font-weight: 700;
    margin-bottom: 40px;
}

.lista{
    margin-left: 300px;
}

.texto_lista{
    margin: 15px;
    font-size: 18px;
    font-family: var(--fonte);
    font-weight: 700;
}

.conteiner_texto1{
    text-align: center;
    margin: 50px 0 0 0;

}

.texto{
    font-family: var(--fonte);
    font-weight: 700;
}

.texto_texto1{
    margin-top: 40px;
    font-size: 26px;
}

.titulo_texto1{
    font-size: 32px;
}
